#wrap,
#old-wrap {
	margin: 0 auto;
	width: 960px;
	
	&.study-page {
		margin-left: -960px / 2;
		top: 40px;
		bottom: 111px;
		left: 50%;
		width: 960px;
	}
}

.home-page {
	background-image: url('../images/background/mural-960.png');
	background-repeat: repeat-x;
}