{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<header class="six-col pad right-align desc-hd" id="completion-header">
	{% if time_up %}
		<h1 class="deck-id" id="deck-{{deck.id}}">{% trans 'Time’s Up.' %}</h1>
	{% else %}
		<h1 class="deck-id" id="deck-{{deck.id}}">{{heading}}</h1>
	{% endif %}
		<p class="desc-shd">
			{% trans 'Return to Deck' as deck_link_title %}
			{% url "home" as home_url %}
			{% with deck.author.name|slugify as author_slug and deck.name as deck_name %}
			{% with home_url|add:'author/'|add:author_slug|add:'/deck/'|add:deck.slug|add:'/' as deck_url %}
			{% with '<a href="'|add:home_url|add:deck_url|add:'" title="'|add:deck_link_title|add:'">'|add:deck_name|add:'</a>'|safe as deck_name %}
				{% if time_up %}
					{% blocktrans %}Your time limit has expired for {{deck_name}}. You deserve a break!{% endblocktrans %}
				{% else %}
					{% blocktrans %}You've finished studying {{deck_name}} for today.{% endblocktrans %}
				{% endif %}
			{% endwith %}{% endwith %}{% endwith %}
		</p>
	</header>
	
	<ul class="sidebar" id="completion-sidebar">
		<li class="origami">
			<header class="origami-header">
				<div class="origami-content">
					<p class="origami-num">{{time_taken}}</p>
				</div>
			</header>
			<footer class="origami-footer">
				<p class="origami-caption">{% trans 'Time' %}</p>
			</footer>
		</li>
		<li class="origami" id="completion-cards-today">
			<header class="origami-header">
				<div class="origami-content">
					<p class="origami-num">{{current_item}}</p>
				</div>
			</header>
			<footer class="origami-footer">
				<p class="origami-caption">{% trans 'Today' %}</p>
			</footer>
		</li>
	</ul>
	
	<ul class="six-col pad right-align" id="completion-links">
		<li><a href="{% url "home" %}author/{{deck.author.name|slugify}}/deck/{{deck.slug}}/" class="btn full-btn">{% trans 'Return to Deck' %}</a></li>
		<li><a href="{% url "home" %}" class="btn full-btn home-link">{% trans 'Return Home' %}</a></li>
	</ul>
{% endblock %}
