{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<header class="six-col pad right-align desc-hd" id="launch-header">
		<h1 id="deck-{{deck.id}}" class="deck-id">{{deck.name}}</h1>
		{# @TODO Santifize the input for the deck descriptions when they're saved to the database #}
		<p class="desc-shd">{{deck.description|safe}}</p>
	</header>
	
	<ul class="sidebar" id="launch-sidebar">
		<li>
			<div class="origami">
				<div class="origami-header">
					<img class="origami-image" src="{{ MEDIA_URL }}{{ deck.thumbnail }}" alt="" />
				</div>
				<div class="origami-footer">
					<p class="origami-caption">
						{% with deck.author.name|slugify as author_slug %}
						{% url "home" as home_url %}
						{% blocktrans with home_url|add:'author/'|add:author_slug|add:'/' as author_url and deck.author.name as author_name %}By <a href="{{ author_url }}" title="See more decks by {{ author_name }}">{{ author_name }}</a>{% endblocktrans %}
						{% endwith %}
					</p>
				</div>
			</div>
		</li>
		<li>
			<a href="{% url "home" %}author/{{deck.author.name|slugify}}/deck/{{deck.slug}}/cards/" class="card-count" title="{% trans "See all cards in this deck" %}">
			{%blocktrans count card_count as card_count%}{{card_count}} card{%plural%}{{card_count}} cards{%endblocktrans%}
			</a>
		</li>
		{# @TODO Tell the user if this deck is using storage, allow them to clear their progress for this deck #}
	</ul>
	
	<form method="post" action="{% url "home" %}author/{{deck.author.name|slugify}}/deck/{{deck.slug}}/study/" class="options six-col right-align" id="launch-form">
		{% csrf_token %}
		<button type="submit" class="btn large-btn go-btn" name="start-studying">{% trans "Start Studying" %}</button>
		{# @TODO These fields should be validated #}
		<h2 class="subhead pad">{% trans "Study Options" %}</h2>
		
		<div class="three-col-cell right-align" id="js-study-options"></div>
		
		<div class="three-col-cell pad option-group" id="static-study-options">
			{# @TODO Remove this field if there are no new cards in this deck #}
			<label class="small-text-option">
			{% with max_attr=card_count|stringformat:'s' value_attr=cards_per_session|stringformat:'s' %}
			{%blocktrans with '<input type="number" min="1" max="'|add:max_attr|add:'" name="cards-per-session" value="'|add:value_attr|add:'" />'|safe as numeric_box %}{{numeric_box}} new cards to study{%endblocktrans%}
			{% endwith %}
			</label>
			<!-- @TODO Requires JS -->
			<!--<label class="sub-option checkbox-option">
			{%blocktrans with '<input type="checkbox" name="continue" />' as checkbox%}{{checkbox}} Continue from where I left off{%endblocktrans%}
			</label>-->
			
			<label class="checkbox-option">
			{%blocktrans with '<input type="checkbox" name="use-time" />' as checkbox%}{{checkbox}} Set a time limit for this session{%endblocktrans%}
			</label>
			<label class="sub-option small-text-option">
			{%blocktrans with '<input type="number" min="0" name="time-limit" value="10" />' as numeric_box%}{{numeric_box}} minutes{%endblocktrans%}
			</label>
			
			<label class="checkbox-option">
			{%blocktrans with '<input type="checkbox" name="randomize" />' as checkbox%}{{checkbox}} Randomize order{%endblocktrans%}
			</label>
			
			{# @TODO Implement this #}
			<label class="checkbox-option" style="display:none;">
			{%blocktrans with '<input type="checkbox" name="use-reverse" />' as checkbox%}{{checkbox}} Include reversed cards{%endblocktrans%}
			</label>
		</div>
	</form>
{% endblock %}
