{% extends 'base.html' %}
{% load i18n %}
{% load card_template_parser %}

{% block content %}
	<h1 class="pad">{%blocktrans with deck.name as deck_name%}Cards in {{deck_name}}{%endblocktrans%}</h1>
	{% if cards %}
	<ol class="grid two-col animate">
	{% for card in cards %}
		<li class="paper card">
			<div class="card-front">
				{% for template in deck.f_template|parse_card_template_fields %}
				{% with card|parse_card_template:template as card %}
				<span class="card-field {{ card.class }}">{{ card.field }}</span>
				{% endwith %}
				{% endfor %}
			</div>
			<div class="card-back">
				{% for template in deck.b_template|parse_card_template_fields %}
				{% with card|parse_card_template:template as card %}
				<span class="card-field {{ card.class }}">{{ card.field }}</span>
				{% endwith %}
				{% endfor %}
			</div>
		</li>
	{% endfor %}
	</ol>
	{% endif %}
{% endblock %}