{% extends 'base.html' %}
{% load l10n %}
{% load i18n %}
{% load card_template_parser %}

{% block content %}
	<section id="front" class="card one-sided-card">
		<div class="card-front fade-in">
			{% for template in deck.f_template|parse_card_template_fields %}
			{% with card|parse_card_template:template as card %}
			<span class="card-field {{ card.class }}">{{ card.field }}</span>
			{% endwith %}
			{% endfor %}
		</div>
	</section>
	<section id="back">
		<div class="card one-sided-card" {% if not card_was_flipped %}style="display:none;"{% endif %}>
			<div class="card-back">
				{% for template in deck.b_template|parse_card_template_fields %}
				{% with card|parse_card_template:template as card %}
				<span class="card-field {{ card.class }}">{{ card.field }}</span>
				{% endwith %}
				{% endfor %}
			</div>
		</div>
		
		{# @TODO JS needs to change the "session-progression-options" class to "review-delay-options" #}
		<form method="post" action="{{ request.get_full_path }}" class="{{ card_was_flipped|yesno:"session-progression-options,is-muted" }}" id="study-form">
			{% csrf_token %}
			<input type="hidden" name="deck-id" class="deck-id" value="{{ deck.id }}" />
			<input type="hidden" name="card-count" class="card-count" value="{{ card_count }}" />
			
			<input type="hidden" name="start-time" value="{{ start_time }}" />
			<input type="hidden" name="use-time" value="{{ use_time }}" />
			<input type="hidden" name="time-limit" value="
{%localize off%}{{ time_limit }}{%endlocalize%}" />
			<input type="hidden" name="randomize" value="{{ randomize }}" />
			<input type="hidden" name="use-reverse" value="{{ use_reverse }}" />
			<input type="hidden" name="cards-per-session" value="{{ cards_per_session }}" />
			
			<input type="hidden" name="order" value="{{ card.order }}" />
			<input type="hidden" name="current-item" value="{{ current_item }}" />
			<input type="hidden" name="last-item" value="{{ last_item }}" />
			<input type="hidden" name="random-queue" value="{{ random_queue }}" />
			<input type="hidden" name="repeat-queue" value="{{ repeat_queue }}" />
			
			{% if card_was_flipped %}
			<button type="submit" class="btn bad-btn large-btn" name="repeat" value="1" id="repeat">{% trans 'Repeat' %}</button>
			<button type="submit" class="btn good-btn large-btn" name="next" value="1" id="next">{% trans 'Next' %}</button>
			{% else %}
			<button type="submit" class="btn mega-btn" id="show-answer" name="show-answer">{% trans "Show Answer" %}</button>
			{% endif %}
		</form>
	</section>
{% endblock %}

{% block menubar %}
	<div class="study-status">
		<!-- @TODO Add hidden text for screen readers (like "3/10 cards studied," "2 cards to repeat") -->
		
		<!-- @TODO Requires JS -->
		<!-- @TODO How important is this, anyway? -->
		<!-- @TODO We could show this value after a question has been answered, however -->
		<!-- <span class="study-status-item study-time">0:07</span> -->
		<span class="study-status-item study-progress"><span class="current-item">{{current_item}}</span>/<span class="last-item">{{last_item}}</span></span>
		{% if repeat_queue %}
		<span class="study-status-item study-repeats">{{repeat_queue|length}}</span>
		{% endif %}
	</div>
{% endblock %}

{# Remove the footer from this page #}
{% block footer %}{% endblock %}

{% block extra_scripts %}
	<script src="{{ STATIC_URL }}js/cards.min.js"></script>
{% endblock %}